@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Arial";
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F0F0F0;
  color: #000000;
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  display: block;
}

/* 中のコンテンツ部分の最大幅を設定 */
.inner {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header_outer {
  display: flex;
  align-items: center;
  margin-left: 91px;
}
@media screen and (max-width: 900px) {
  .header_outer {
    display: block;
    margin-left: 16px;
  }
}

.header_logo {
  width: 100px;
  margin-top: 6px;
}
@media screen and (max-width: 900px) {
  .header_logo {
    width: 80px;
    margin-top: -5px;
  }
}

.header_nav {
  margin-left: 60px;
}
@media screen and (max-width: 900px) {
  .header_nav {
    margin-left: 0px;
  }
}

.header_nav_list {
  display: flex;
}
.header_nav_list li:not(:last-child) {
  margin-right: 30px;
}

.header_inquiry {
  width: 200px;
  height: 100%;
  background-color: #000000;
  color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .header_inquiry {
    display: none;
  }
}
.header_inquiry p {
  text-align: center;
  line-height: 80px;
  font-size: 12px;
}

.mainvisual {
  margin-bottom: 123px;
  width: 100vw;
  height: 600px;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .mainvisual {
    margin-bottom: 83px;
  }
}

.news {
  margin-bottom: 88px;
}
@media screen and (max-width: 900px) {
  .news {
    padding: 0 4%;
  }
}

.news_title {
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 0.667;
  margin-bottom: 14px;
  letter-spacing: 11px;
  margin-top: 2px;
}

.news_title_info {
  position: relative;
  margin-bottom: 74px;
}
@media screen and (max-width: 900px) {
  .news_title_info {
    margin-bottom: 58px;
  }
}

/*以下で線を表示*/
.news_title_info:before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -34px;
  width: 40px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #000000;
  /*線の色*/
}
@media screen and (max-width: 900px) {
  .news_title_info:before {
    bottom: -22px;
  }
}

.news-box {
  display: flex;
}
@media screen and (max-width: 900px) {
  .news-box {
    flex-direction: column;
  }
}

.news_item1 {
  height: 78px;
  margin-right: 78px;
  padding: 10px 0;
}
@media screen and (max-width: 900px) {
  .news_item1 {
    margin-bottom: 22px;
    padding: 7px 0;
  }
}

.news_item2 {
  margin-right: 59px;
  padding: 10px 0 8px 20px;
  border-left: 1px solid #000;
}
.news_item2 .news_item-date {
  margin-right: 18px;
}
.news_item2 .news_item-post {
  padding: 3px 5px;
}
@media screen and (max-width: 900px) {
  .news_item2 {
    border-left: none;
    padding: 0 0;
    margin-bottom: 39px;
  }
}

.news_item3 {
  margin-right: 59px;
  padding-top: 10px;
  padding-left: 20px;
  border-left: 1px solid #000;
}
.news_item3 .news_item-date {
  margin-right: 18px;
}
.news_item3 .news_item-post {
  padding: 3px 5px;
}
@media screen and (max-width: 900px) {
  .news_item3 {
    border-left: none;
    padding: 0 0;
  }
}

.news_item-date {
  float: left;
  margin-top: 2px;
  margin-right: 19px;
  font-size: 14px;
}

.news_item-post {
  display: inline-block;
  font-size: 12px;
  width: 50px;
  padding: 3px 7px;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 14px;
}

.news_item-text {
  letter-spacing: 2px;
  margin-top: -2px;
}

.about {
  display: flex;
  margin-bottom: 122px;
}
@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    margin-bottom: 82px;
  }
}

.about_img {
  max-width: 760px;
  height: 400px;
  margin-top: 31px;
  margin-right: 70px;
}
@media screen and (max-width: 900px) {
  .about_img {
    height: 300px;
    margin-right: 0;
    object-fit: cover;
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {
  .about_group {
    padding: 0 4%;
  }
}

.about_title {
  margin-top: 220px;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 0.667;
  margin-bottom: 14px;
  letter-spacing: 11px;
}
@media screen and (max-width: 900px) {
  .about_title {
    margin-top: 39px;
  }
}

.about_about_title {
  position: relative;
  margin-bottom: 77px;
}
@media screen and (max-width: 900px) {
  .about_about_title {
    margin-bottom: 49px;
  }
}

/*以下で線を表示*/
.about_about_title:before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -34px;
  width: 40px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #000000;
  /*線の色*/
}
@media screen and (max-width: 900px) {
  .about_about_title:before {
    bottom: -22px;
  }
}

.about_text {
  max-width: 475px;
  line-height: 30.6px;
}
@media screen and (max-width: 900px) {
  .about_text {
    width: 100%;
  }
}

.business {
  margin-bottom: 115px;
}
@media screen and (max-width: 900px) {
  .business {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 900px) {
  .business_group {
    padding: 0 4%;
  }
}

.business_title {
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 0.667;
  margin-bottom: 14px;
  letter-spacing: 11px;
}

.business_about_title {
  position: relative;
  margin-bottom: 77px;
}

/*以下で線を表示*/
.business_about_title:before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -34px;
  width: 40px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #000000;
  /*線の色*/
}
@media screen and (max-width: 900px) {
  .business_about_title:before {
    bottom: -21px;
  }
}

.business_wrapper {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .business_wrapper {
    flex-direction: column;
    width: 100%;
  }
}

.business_item1 {
  margin-top: 102px;
}
@media screen and (max-width: 900px) {
  .business_item1 {
    margin-top: -26px;
    margin-bottom: 22px;
  }
}

.business_item_title {
  margin-bottom: 8px;
}

.business_img1 {
  width: 368px;
  margin-bottom: 42px;
}
@media screen and (max-width: 900px) {
  .business_img1 {
    width: 343px;
    height: 232px;
    margin-bottom: 22px;
  }
}

.business_img2 {
  width: 368px;
}
@media screen and (max-width: 900px) {
  .business_img2 {
    width: 343px;
    height: 232px;
  }
}

.company {
  margin-bottom: 185px;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 900px) {
  .company {
    position: static;
    padding: 0 4%;
    display: block;
    margin-bottom: 49px;
  }
}

.company_group {
  width: 567px;
  height: 565px;
  padding: 108px 61px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .company_group {
    width: 100%;
    height: 566px;
    padding: 49px 20px;
  }
}

.company_title {
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 0.667;
  margin-bottom: 14px;
  letter-spacing: 11px;
}

.company_about_title {
  position: relative;
  margin-bottom: 77px;
}
@media screen and (max-width: 900px) {
  .company_about_title {
    margin-bottom: 48px;
  }
}

/*以下で線を表示*/
.company_about_title:before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -34px;
  width: 40px;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #000000;
  /*線の色*/
}
@media screen and (max-width: 900px) {
  .company_about_title:before {
    bottom: -21px;
  }
}

.company_table tr {
  vertical-align: top;
}
.company_table th {
  text-align: left;
  width: 23%;
  padding-bottom: 2.5px;
}
@media screen and (max-width: 900px) {
  .company_table th {
    display: block;
    width: 100%;
    margin-left: -1px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  .company_table td {
    display: block;
    width: 100%;
    padding-left: 13px;
    margin-bottom: 9.8px;
  }
}
.company_table li {
  height: 25px;
}
@media screen and (max-width: 900px) {
  .company_table li {
    margin-bottom: -5px;
  }
}

.company_img_box {
  margin-top: -27px;
  position: absolute;
  top: 19%;
  left: 45.3%;
}
@media screen and (max-width: 900px) {
  .company_img_box {
    margin-top: 20px;
    position: static;
  }
}

.company_img {
  width: 547px;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .company_img {
    width: 100%;
    margin-left: 0;
  }
}

.footer {
  height: 214px;
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 0 4%;
  }
}

.footer_box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .footer_box {
    display: block;
  }
}

.footer_logo {
  width: 100px;
  margin-top: 6px;
  margin-top: 77px;
  margin-bottom: 72px;
}
@media screen and (max-width: 900px) {
  .footer_logo {
    width: 80px;
    margin-top: -5px;
    margin-bottom: 0;
  }
}

.footer_copyright {
  font-size: 12px;
  margin-bottom: 5px;
}

.footer_right {
  margin-top: 40px;
}
.footer_right p {
  margin-right: 19px;
  margin-bottom: 5px;
}
@media screen and (max-width: 900px) {
  .footer_right {
    margin-top: 3px;
    margin-bottom: 39px;
  }
}/*# sourceMappingURL=style.css.map */